<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>IsUserLoggedIn</filter-name>
		<display-name>IsUserLoggedIn</display-name>
		<description></description>
		<filter-class>filter.IsUserLoggedIn</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IsUserLoggedIn</filter-name>
		<url-pattern>/leagueplatform.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IsUserLoggedIn</filter-name>
		<url-pattern>/highscores.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IsUserLoggedIn</filter-name>
		<url-pattern>/contact.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IsUserLoggedIn</filter-name>
		<url-pattern>/platform.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IsUserLoggedIn</filter-name>
		<url-pattern>/betoptions.jsp</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>listener.UpdateLeagueBets</listener-class>
	</listener>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<display-name>HelloWorld</display-name>
		<description></description>
		<servlet-class>servlet.HelloWorld</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<display-name>RegistrationServlet</display-name>
		<description></description>
		<servlet-class>servlet.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateLeagueOptions</servlet-name>
		<display-name>UpdateLeagueOptions</display-name>
		<description></description>
		<servlet-class>servlet.UpdateLeagueOptions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuyOption</servlet-name>
		<display-name>BuyOption</display-name>
		<description></description>
		<servlet-class>servlet.BuyOption</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateBetsServlet</servlet-name>
		<display-name>UpdateBetsServlet</display-name>
		<description></description>
		<servlet-class>servlet.UpdateBetsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SetWinner</servlet-name>
		<display-name>SetWinner</display-name>
		<description></description>
		<servlet-class>servlet.SetWinner</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateGame</servlet-name>
		<display-name>CreateGame</display-name>
		<description></description>
		<servlet-class>servlet.CreateGame</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateHighscores</servlet-name>
		<display-name>UpdateHighscores</display-name>
		<description></description>
		<servlet-class>servlet.UpdateHighscores</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateLeagueOptions</servlet-name>
		<url-pattern>/UpdateLeagueOptions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyOption</servlet-name>
		<url-pattern>/BuyOption</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateBetsServlet</servlet-name>
		<url-pattern>/UpdateBetsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetWinner</servlet-name>
		<url-pattern>/SetWinner</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateGame</servlet-name>
		<url-pattern>/CreateGame</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateHighscores</servlet-name>
		<url-pattern>/UpdateHighscores</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
